<div class="container">
  <div class="jumbotron">
    <h1>Hello, welcome to the home page!</h1>
    <p><%= link_to 'About', home_about_path, class:"btn btn-primary btn-lrg", role:"button" %>
      <%= link_to 'Sign in', signup_path, class:"btn btn-primary btn-lrg", role:"button" %></p>
  </div>
</div>
